*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #292123;
    color: #ffdbda;
    line-height: 1.5;
}

/* ============ layout ================ */
.layout {
  display: flex;
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
}

/* ============ sidebar ================ */
.sidebar {
  width: 350px;
  flex-shrink: 0;
  padding: 90px 20px 30px;
}

/* ============ profile picture ================ */
.profile-picture {
  background: #463d3f;
  border: 1px solid #c2afb1;
  border-radius: 12px;
  padding: 30px 20px;
  text-align: center;
  position: sticky;
  top: 30px;
  /* margin-bottom: 30px; */
  height: 500px;
  width: 310px;
}

.avatar {
  width: 260px;
  height: 260px;
  object-fit: cover;
  border-radius: 50%;
}

/* ============== name ================ */
.name {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: -35px;
}

/* ============== role badges under name ================ */
.role-badge {
  display: inline-block;
  background: #604D53;
  border: 1px solid #352c2f;
  padding: 4px 14px;
  border-radius: 20px;
  font-size: 12px;
  position: relative;
  bottom: -10px;
}

.divider {
  border-bottom: 1px solid #9DA3A4;
  margin: 24px 0;
  position: relative;
  bottom: -10px;
}

/* ============== contact list under ng divider ================ */
.contact-list {
  list-style: none;
  text-align: left;
  font-size: 10px;
}

.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

/* =============== email icon ================ */
.contact-item .email-icon {
  margin-right: 6px;
  margin-left: 5px;
  font-size: 22px;
  border: 1px solid #c2afb1;
  border-radius: 5px;
  padding: 5px 10px;
}

/* ==== "Email" ==== */
.contact-item .label {
  font-weight: bold;
  font-size: 12px;
  margin-left: 3px;
}

/* ==== email address ==== */
.contact-item .value {
  font-size: 12px;
  border: 1px solid #c2afb1;
  border-radius: 5px;
  padding: 0 3px
}

/* ==== copy icon beside email address ==== */
.contact-item .copy-icon {
  margin-left: 5px;
  font-size: 16px;
  position: relative;
  top: 9px;
}

/* ==== div below email ==== */
.other-contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 20px;
}

.other-contact-item .github-icon {
  margin-right: 6px;
  margin-left: 5px;
  font-size: 22px;
}

.other-contact-item .linkedin-icon {
  margin-right: 6px;
  margin-left: 5px;
  font-size: 22px;
}


